@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Moonrocks&display=swap');


body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Rubik Moonrocks', cursive;
}

.header,
.footer {
    text-align: center;
    font-size: 32px;
    padding: 16px;

    color: wheat;
    background-color: orangered;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.content {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*****************************/
/* CANVAS */

.canvas {
    border: 2px orangered solid;
    width: 512px;
    height: 512px;

    display: flex;
    flex-wrap: wrap;
}

.canvas div {
    box-sizing: border-box;
}

/****************************/
/* RADIO BUTTON */

.resolution-buttons {
    display: flex;
    flex-direction: column;
}

input[name="resolution"] {
    position: absolute;
    left: -9000px;

    cursor: pointer;
}

input[name="resolution"] + label {
    color: wheat;

    font-family: "Roboto Mono", monospace;
    font-size: 32px;

}

input[name="resolution"]:checked + label {
    color: gold;
}

/****************************/
/* SLIDER */


.slider {
    display: flex;
    flex-direction: column;

    padding: 8px 4px 4px 4px;
    margin: 4px;

    background-color: wheat;
    color: orangered;
    border: orangered 2px solid;
    border-radius: 8px;

    font-family: "Roboto Mono", monospace;
    font-size: 12px;

}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    height: 4px;
}

input[name="red"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 16px;
    height: 16px;

    border: 2px red solid;
    background-color: white;
    border-radius: 8px;

    cursor: pointer;
}

input[name="red"]::-webkit-slider-thumb:hover {
    background-color: red;
}

input[name="green"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 16px;
    height: 16px;

    border: 2px green solid;
    background-color: white;
    border-radius: 8px;

    cursor: pointer;
}

input[name="green"]::-webkit-slider-thumb:hover {
    background-color: green;
}

input[name="blue"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 16px;
    height: 16px;

    border: 2px blue solid;
    background-color: white;
    border-radius: 8px;

    cursor: pointer;
}

input[name="blue"]::-webkit-slider-thumb:hover {
    background-color: blue;
}