@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Moonrocks&display=swap');


body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Rubik Moonrocks', cursive;
}

.header,
.footer {
    text-align: center;
    font-size: 32px;
    padding: 16px;

    color:wheat;
    background-color: orangered;
}

.content {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*****************************/
/* CANVAS */

.canvas {
    width: 512px;
    height: 512px;

    display: flex;
    flex-wrap: wrap;
}

.canvas div {
    box-sizing: border-box;
    border: 1px solid greenyellow;
    background-color: green;
}

/****************************/
/* RADIO BUTTON */

input[name="resolution"] {
    position: absolute;
    left: -9000px;
}

input[name="resolution"] + label {
    color: wheat;

    font-family: "Roboto Mono", monospace;
    font-size: 16px;
}

input[name="resolution"]:checked + label {
    color: gold;
}